<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <a class="navbar-brand" href=" {% url 'home' %} ">NearHotels</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse pull-right navbar-collapse" id="collapsibleNavbar">
        <ul style="float: right;" class="navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'near_hotels' %} ">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" # ">Add Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {% url 'cords' %} ">JSON Response</a>
            </li>
        </ul>
    </div>
</nav>
        